In [1]:
import pandas as pd

In [2]:
data = pd.read_csv("Dataset/sentiment_data_preprocessed.csv")
data

,phrase_id,phrase,sentiment_score,implication
0,0,!,0.50000,neutral
1,22935,! ',0.52778,neutral
2,18235,! ``,0.50000,neutral
3,179257,! ala,0.44444,neutral
4,22936,! brilliant,0.86111,very_positive
...,...,...,...,...
239230,220443,é,0.50000,neutral
239231,220444,é um passatempo descompromissado,0.50000,neutral
239232,313123123,nan,0.50000,neutral
239233,313123123,and a appl good game play,0.50000,neutral
239234,313123123,programm program with program languag,0.50000,neutral

In [3]:
def sentiment(x):
    if x>0.6:
        return "positive"
    if x<0.4:
        return "negative"
    return "neutral"

In [4]:
data['implication'] = data['sentiment_score'].apply(sentiment)

In [5]:
data

,phrase_id,phrase,sentiment_score,implication
0,0,!,0.50000,neutral
1,22935,! ',0.52778,neutral
2,18235,! ``,0.50000,neutral
3,179257,! ala,0.44444,neutral
4,22936,! brilliant,0.86111,positive
...,...,...,...,...
239230,220443,é,0.50000,neutral
239231,220444,é um passatempo descompromissado,0.50000,neutral
239232,313123123,nan,0.50000,neutral
239233,313123123,and a appl good game play,0.50000,neutral
239234,313123123,programm program with program languag,0.50000,neutral

In [6]:
data.to_csv("Dataset/sentiment_data_preprocessed.csv",index=False)